//color variables
$body-color:#ebebeb;
$header-background-color:#1e1717;
$white-text:#fff;
$light-yellow:#eab96a;
$light-gold:#cdb47b;
$black:#000;
$main-color-text:#485260;
$light-gray:#adadad;
$dark-gray: #6f6f6f;
$red:#c20000;
$green: #6a9c00;
$light-gray2:#ddd;


.light-gold{
	color:$light-gold;
}

.light-yellow{
	color:$light-yellow;
}

.black-text{
	color:$black;
}

.red{
	color:$red;
}

.green{
	color:$green;
}

.white{
	color:$white-text !important; 
}